.modalArea{

    max-width: 70%;
    margin: auto;
}

.rightMargin{

    margin-right: 5px;
}

span.accuracyBtn {
    color: white;
    background: red;
    max-width: 65%;
    padding: 8px;
    text-align: center;
    border-radius: 15px;
    font-weight: 600;
    position: absolute;
    right: -5px;
    top: 30px;
}