.modalArea{

    max-width: 70%;
    margin: auto;
}

.rightMargin{

    margin-right: 5px;
}

span.accuracyBtn {
    color: white;
    background: rgb(225, 11, 11);
    max-width: 65%;
    padding: 8px;
    text-align: center;
    border-radius: 15px;
    font-weight: 600;
    position: absolute;
    right: -5px;
    top: 30px;
}

.crossBtn{
    background-color: red;
    opacity: 1;
    border-radius: 50%;
}